@use "./reset.scss" as *;
@use "./variables/global.scss" as *;
@use "./themes/dark.scss" as *;
@use "./themes/light.scss" as *;

body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app{
    background: var(--bg-color);
    min-height: 100vh;
}