@mixin root-vars-dark {
    --bg-color: #020100;
    --inverted-bg-color: #fff;
    
    --primary-color: #e8e8ea;
    --inverted-primary-color: #BDBDBD;
}

:root{
    @include root-vars-dark;
}

.app.dark {
    @include root-vars-dark;
}