@mixin root-vars-dark {
    --bg-color: #fff;
    --inverted-bg-color: #020100;
    
    --primary-color: #BDBDBD;
    --inverted-primary-color: #000000;
}

:root{
    @include root-vars-dark;
}

.app.light {
    @include root-vars-dark;
}